{{#if location.id}}
<h1>Edit Zip Code</h1>
{{else}}
<h1>Add Zip Code</h1>
{{/if}}
<form action="/update" method="POST">
    Zip Code <input class="form-control" type="text" name="zip_code" value="{{location.zip_code}}" />
    Alias <input class="form-control" type="text" name="alias" value="{{location.alias}}" />
    <input type="hidden" name="id" value="{{location.id}}" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>