{{>navbar}}
<style>
  body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
</style>
<main role="main">
  <div class="container">
    <div class="row featurette first-featurette">
      <div class="col-md-5 offset-md-7" style="color: white;">
        <h2 class="featurette-heading">Where COVID-19 Matters</h2>
        <p class="lead">This Express web application allows you to enter multiple zip codes and
          returns COVID-19 statistics, links to state COVID-19 websites, and if available where to get
          COVID-19 testing. Find out COVID-19 facts where it matters to you, whether for travel or for family
          and friends living across the United States.</p>
        <p><a class="btn btn-primary btn-lg" href="/list" role="button">Enter zip codes &raquo;</a></p>
      </div>
    </div>
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      US Covid-19 Data
    </h3>
    <div class="row featurette">
      <div class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header"><strong>US Covid-19 Positives</strong></div>
          <div class="card-img-bottom">
            {{{graphics data.series "positive"}}}
          </div>
          <div class="card-footer">
            <small class="text-muted">Source: <a href="https://covidtracking.com/">The COVID Tracking
                Project</a></small>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header"><strong>US Covid-19 Deaths</strong></div>
          <div class="card-img-bottom">
            {{{graphics data.series "death"}}}
          </div>
          <div class="card-footer">
            <small class="text-muted">Source: <a href="https://covidtracking.com/">The COVID Tracking
                Project</a></small>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header"><strong>Current US Numbers</strong>
            <p>Click on the "i" icon or table row to view the Parameter's definition.</p>
          </div>
          <div class="table-responsive">
            {{>table data=data}}
          </div>
          <div class="card-footer">
            <small class="text-muted">Last update: {{data.lastUpdateET}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>