<a href="/add" class="btn btn-primary">Add Zip Code</a>
<br />
<br />
<h1>Zip Codes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Zip Code</th>
            <th>Alias</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each locations}}
        <tr>
            <td>{{this.zip_code}}</td>
            <td>{{this.alias}}</td>
            <td>
                <a href="/edit/{{this.id}}" class="btn btn-secondary">Edit</a>
                <a href="/delete/{{this.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>