:root {
  --jumbotron-padding-y: 1rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

/* .jumbotron .container {
  max-width: 40rem;
} */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

body {
  margin: 0;
}

.zipcode-form {
  padding-top: 1.5rem;
}

.summary-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} 

.summary-text-muted {
  color: white !important;
}

.summary-card-footer {
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432);
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
} 

.loading span {
  color: #00b300;
  font-size: 3em;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: .2;
  }
}

@media (prefers-reduced-motion: reduce) {
  .loading span {
    animation: none;
  }
}

.addclickspin {
  color: #00b300;
}

.addclickdefault {
  color: unset;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.bootstrap-primary {
  color: #007bff;
}

.VictoryContainer {
  padding-left: 12px;
}

/*.my-index-body{
  cloudy knoxville
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
  /*st petersburg */
  /*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
  /*snow again */
  /*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}*/

.my-index-body, .my-zipcode-details-body, div.album.py-5.bg-light{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

caption {
  text-align: center;
}
